@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Catalog</h1>
    <p class="lead">Where good development tactics come to die.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Books by Title", "Index", "Book")</h2>
        <p>This is the area where you can view books sorted by the Title</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Books by Author", "AuthorIndex", "Book")</h2>
        <p>This is the area where you can view books sorted by the Author</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Author", "Index", "Author")</h2>
        <p>View and Edit Authors</p>


    </div>
</div>